body{
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid grey;
}

#wrapper{
  min-height: 25px;
}

a{
  text-decoration: none;
  color: black;
  margin: 0px 10px;
}

a:hover{
  text-decoration: underline;
}

#left{
  float: left;
  margin-left: 60px;
}

#right{
  float: right;
  margin-right: 60px;
}

img{
  height : 20px;
  width : 20px;
}
